@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Open+Sans:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;  
}

li{
   list-style: none; 
   font-weight: 700;
}

button{
    font-weight: 700;
    border: none;
}

input, select{
    background-color: #E5E5E5;
    border: none;
    border-radius: 5px;
    padding: 20px;


}

input, select:focus{
    outline: none;
}

.header-section{
    height: 800px;
    background-image: url("/src/img/header-bg.png");
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0px auto;
}

.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.menu ul{
    display: flex;
    flex-direction: row;
    gap: 76px;
    margin: 50px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.248);
    padding-bottom: 50px;

    
}

.menu li{
    color: white;
} 

.logo-hungry{
    margin: 20px 0px;
}

.welcome{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items:center;
    
    
}

.welcome-info{
    display: inline;
    transform: rotate(-90deg);
    color: white;
    height: 180px;
    width: 220px;
    font-size: 10px;
}

.welcome-title{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 160px;
}

.welcome-title p{
    font-size: 25px;
    color: white;
}

.welcome-title h1{
    font-family: 'Kalam', cursive;
    font-size: 100px;
    color: white;
    margin: 10px 0px
}

.line-title{
    height: 5px;
    width: 60px;
    background-color: #E8C300;
    margin-bottom: 20px;
    border-radius: 30%;
}
.landing-buttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.landing-buttons button{
    font-family: 'Open Sans', sans-serif;
    height: 70px;
    width: 200px;
    border-radius: 5px;
}
.button-book{
    background-color: #E8C300;
    color: white;
}
.button-explore{
    background-color: #e8c10000;
    border: 1px solid rgba(255, 255, 255, 0.27);
    color: white;
}

.socity{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.socity a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(240, 248, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0.248);

} 

.next{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.next-border{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.748);
}

.next-button{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}  

.content{
    padding: 50px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
} 

.post-box{  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.post-info{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.text-box p{

    text-align: center;
}   

.post-title{
    font-family: 'Kalam', cursive;
    font-size: 30px;
}

.section-citate{
    font-weight: 700;

}

.section-text{
    font-style: normal;
    margin-top: 10px;


}

.section-team{
    height: 676px;
    background-image: url("/src/img/specialty\'s-bg.png");
    background-size: cover;
}



.post-word{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    

}

.post-title-w{
    font-family: 'Kalam', cursive;
    font-size: 30px;
    color: white;
}

.text-box-w{
    text-align: center;
    color: white;
}

.book-table{
    display: grid;
    grid-template-columns: repeat(2, 278px);
    grid-template-rows: repeat(4, 60px);
    gap: 10px;
    

}
.button-book-now{
    font-family: 'Open Sans', sans-serif;
    height: 70px;
    width: 100%;
    border-radius: 5px;
    background-color: #E8C300;
    color: white;
    grid-column: span 2 ;
}


.description{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    font-family: 'Open Sans', sans-serif;

}

.section-choko{
    background-image: url("/src/img/specialty\'s-bg3.png");
    height: 675px;
    background-size: cover;
}

.grid-menu-button{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(6,120px);
    grid-template-rows: 50px;
    column-gap: 1px;
    background-color: #33333333;;
}

.grid-menu-button button{
    background-color: white;
}

.grid-menu{
    margin: 50px 0px;
    display: grid;
    grid-template-columns: repeat(3, 365px);
    grid-template-rows: repeat(7, 65px);
    gap: 17px 10px;
}

.item-menu{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 65px;
    font-style: 'Open Sans', sans-serif;

}

.name-item-menu{
    font-size: 700;
    font-family: 'Kalam';
}

.price{
    font-size: 700;
    font-family: 'Kalam';
    font-style: 'Open Sans', sans-serif;
}

.section-photo{
    height: 390px;
    background-color:#E8C300;
    display: flex;
    gap: 15px;
    align-items: center;
}

.section-photo img{
    height: 370px;
    width: 370px;
}

.grid-contact{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 420px);
    grid-template-rows: 60px 120px 60px;
    gap: 10px;
}

.grid-contact input{
    border-radius: 5px;
}

.message{
    grid-column: span 3;
}

.grid-send{
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100%;
    font-size: 14px;
    font-family: cursive;


}
.grid-send button{
    background-color: #E8C300;
    color: white;
    border-radius: 5px;
}

.grid-send img{
    width: 20px;
    color: #E8C300;
}

.information{
    display: flex;
    align-items: center;
    gap: 5px;
}

.information div{
    margin-right: auto;
}


