@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

li{
   list-style: none; 
}


.header-section{
    height: 800px;
    background-image: url("/src/img/header-bg.png");
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0px 80px;
}

.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    flex-direction: row;
    gap: 76px;
    margin: 50px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.248);
    padding-bottom: 50px;

    
}

.menu ul li{
    color: white;
} 

.logo-hungry{
    margin: 20px 0px;
}

.welcome{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    align-items:center;
    
    
}

.welcome-info{
    display: inline;
    transform: rotate(-90deg);
    color: white;
}
.welcome-info p{
    height: 180px;
    width: 220px;
    font-size: 10px;
}

.welcome-title{
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 160px;
}

.welcome-title p{
    font-size: 25px;
    color: white;
}

.welcome-title h1{
    font-family: 'Kalam', cursive;
    font-size: 100px;
    color: white;
    margin: 10px 0px
}

.line-title{
    height: 5px;
    width: 60px;
    background-color: #E8C300;
    margin-bottom: 20px;
    border-radius: 30%;
}
.landing-buttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.landing-buttons button{
    font-family: 'Open Sans', sans-serif;
    height: 70px;
    width: 200px;
    border-radius: 5px;
}
.button-book{
    background-color: #E8C300;
    color: white;
}
.button-explore{
    background-color: #e8c10000;
    border: 1px solid rgba(255, 255, 255, 0.27);
    color: white;
}

.socity{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.socity div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.248);

} 
.next{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.next-border{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.748);
}

.next-button{
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
}  

.two{
    height: 200px;
}