@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Open+Sans:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

li{
   list-style: none; 
}


.header-section{
    height: 800px;
    background-image: url("/src/img/header-bg.png");
    background-size: cover;
}

.container{
    width: 100%;
    max-width: 1350px;
    margin: 0px 80px;
}

.header{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    flex-direction: row;
    gap: 76px;
    margin: 50px 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.248);
    padding-bottom: 50px;

    
}

.menu ul li{
    color: white;
} 

.logo-hungry{
    margin: 20px 0px;
}

.welcome{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

.welcome p{
    font-size: 25px;
    color: white;
}

.welcome h1{
    font-family: 'Kalam', cursive;
    font-size: 100px;
    color: white;
    margin: 20px 0px
}

.landing-buttons{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.landing-buttons button{
    font-family: 'Open Sans', sans-serif;
    height: 70px;
    width: 200px;
    border-radius: 5px;
}
.button-book{
    background-color: #E8C300;
    color: white;
}
.button-explore{
    background-color: #e8c10000;
    border: 1px solid rgba(255, 255, 255, 0.27);
    color: white;
}

.two{
    height: 200px;
}